<div class="row">
  <%= form_for :expense, url: trip_expenses_path(trip), method: :post do |expense_form| %>
    <div class="col-md-2">
      <div class="form-group">
        <%= expense_form.label :date %>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
          <%= expense_form.text_field :date, class: "form-control datepicker" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= expense_form.label :amount %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= expense_form.text_field :amount, class: "form-control mask-money" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= expense_form.label :description %>
        <%= expense_form.text_area :description, class: "form-control", rows: 2 %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= expense_form.label :category %>
        <%= expense_form.collection_select :category_id, current_user.categories, :id, :name, {prompt: 'Select'}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-2">
      <br>
      <%= expense_form.submit "Add expense", class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>
