<div class="col-md-3">
  <div class="thumbnail text-center">
    <%= link_to trip_path(trip), html_options: {class:"caption"} do %>
      <h4><strong><%= trip.city %><strong></h4>
      <h4><%= trip.country %></h4>
      <h4><%= l(trip.start_date) %> to <%= l(trip.end_date) %></h4>
      <p class="lead"><strong><%= trip.total_by_user(current_user).format %></strong></p>
    <% end %>
  </div>
</div>
