<div class="row">
  <div class="page-header">
    <div class="col-md-5">
      <h1><%= trip.city %> <small><%= trip.country %></small></h1>
    </div>
    <div class="col-md-4">
      <h1><small><%= l(trip.start_date) %> to <%= l(trip.end_date) %></small></h1>
    </div>
    <div class="col-md-3 text-right">
      <br>
      <%= render partial: 'trips/edit_trip', locals: { trip: trip} %>
      <%= link_to trip_path(trip), method: :delete, data: {confirm: "Are you sure you want to DELETE this trip?"}, class:'btn btn-danger' do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class='col-md-12'>
      <div class="col-md-5">
        <h3>Travelers: <small><%= trip.users.map(&:email).join(', ') %></small></h3>
      </div>
      <div class="col-md-6">
        <h3>Local Currency: <small><%= "#{trip.local_currency.iso_code} - #{trip.local_currency.name} - #{trip.local_currency.symbol}" %></small></h3>
      </div>
    </div>
  </div>
</div>
