<div class="row">
  <div class="col-md-4 pull-right text-right">
    <%= form_for :invite, url: trip_invites_path(@trip), method: :post, html: {class: 'form-inline'} do |invite_form| %>
      <div class="form-group">
        <%= invite_form.text_field :email, placeholder: 'Email', class: 'form-control' %>
      </div>
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add travel partner
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: 'trips/trip_info', locals: {trip: @trip} %>
<br>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Expenses</h3>
    </div>
    <div class="panel-body">
      <%= render partial: 'trips/add_expense', locals: {trip: @trip} %>
      <%= render partial: 'trips/expenses_table', locals: {trip: @trip} %>
    </div>
  </div>
</div>
