<div class="row">
  <div class="col-md-4 pull-right text-right">
    <%= form_for :invite, url: trip_invites_path(@trip), method: :post, html: {class: 'form-inline'} do |invite_form| %>
      <div class="form-group">
        <%= invite_form.text_field :email, placeholder: 'Email', class: 'form-control' %>
      </div>
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add travel partner
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: 'trips/trip_info', locals: {trip: @trip} %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Expense</h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'expenses/add_expense', locals: {trip: @trip} %>
  </div>
</div>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
    <li role="presentation"><a href="#all_expenses" aria-controls="all_expenses" role="tab" data-toggle="tab">All Expenses</a></li>
    <li role="presentation"><a href="#debts" aria-controls="debts" role="tab" data-toggle="tab">Debts and Paid for</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="summary">
      <div class="panel-body">
        <%= render partial: 'trips/trip_summary', locals: {trip: @trip} %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="all_expenses">
      <div class="panel-body">
        <%= render partial: 'expenses/expenses_table', locals: {trip: @trip} %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="debts">
      <div class="panel-body">
        <%= render partial: 'debts/debts_and_paid_for_table', locals: {trip: @trip} %>
      </div>
    </div>
  </div>
</div>
